.Order {
    width: 70%;
    margin: 10px auto;
    box-shadow: 0 4px 4px  #eeCC99;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: start;
    padding: 10px;
}

.Ingr {
    display: inline-block;
    border: 1px solid #aaa;
    margin: 5px;
    padding: 5px;
}
