.ContactData {
    width: 70%;
    margin: 10px auto;
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #44dede;
    

}

.Form {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-flow: column;
    
}
